#top-area {
    position: absolute;
    width: 90%; 
    height: 230px;
    left: 50%;
    transform: translateX(-50%);
    top: 110px;
    background: #E2E5FF;
    border-radius: 20px;
}

#inventory-title2 {
    position: absolute;
    width: 27%; /* Adjusted width */
    height: 51px;
    left: 3%;
    top: 25%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    color: #000000;
}

#collection-progress {
    position: absolute;
    width: 20%;
    height: 47px;
    left: 3%;
    top: 55%;
    background: #3127A0;
    border-radius: 20px;
    color: #FFAD31;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

#collection-progress .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#collection-progress .badge-img {
    position: absolute;
    left: 10px; /* Adjust the position of the image */
    top: 50%;
    transform: translateY(-50%);
}


.collection-container {
    position: absolute;
    top: 700px;
    left: 5.5%;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 89%; /* Adjusted width */
    overflow-x: auto;
    padding-bottom: 20px;
}

.collection-item {
    flex: 0 1 calc(25% - 20px);
    position: relative;
    width: calc(25% - 20px); /* Adjusted width */
    max-width: calc(25% - 20px); /* Maximum width */
    height: 310px;
    background: #F0EFEF;
    border-radius: 20px;
}


.view-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2%;
    transform: translateY(-50%);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #3127A0;
    border: none;
    background-color: transparent;
}

.name-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 8%;
    transform: translateY(-50%);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;  
    color: #000000;
}

.collection-status {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    transform: translateY(-50%);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;  
    color: #000000;
}

.collection-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

