#website-title {
    position: absolute;
    left: 10.46%;
    right: 64.96%;
    top: 1.83%;
    bottom: 92.04%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 135.5%;
    /* or 43px */

    color: #FFFFFF;
}

#sidebar-learning-progress-button {
    position: absolute;
    width: 249px;
    height: 48px;
    left: 20px;
    top: 120px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.9;
    z-index: 1000;
    background-color: #3127A0;
    border: none; /* Removing border */
    cursor: pointer;
    display: flex; /* Add display flex to align children in a row */
    align-items: center; /* Align children vertically in the center */
    justify-content: flex-start; /* Align children to the left */
    padding-left: 15px; /* Adding space for the icon */
}

#sidebar-learning-progress-button img {
    width: 22px;
    height: 22px;
    margin-right: 12px; /* Add some space between the image and text */
}

#sidebar-selected-inventory-button {
    position: absolute;
    width: 249px;
    height: 48px;
    left: 20px;
    top: calc(120px + 5 * (48px + 20px));
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #3127A0;
    opacity: 0.9;
    z-index: 1000;
    background-color: #FFFFFF;
    border: none; /* Removing border */
    border-radius: 30px;
    cursor: pointer;
    display: flex; /* Add display flex to align children in a row */
    align-items: center; /* Align children vertically in the center */
    justify-content: flex-start; /* Align children to the left */
    padding-left: 15px; /* Adding space for the icon */
}

#sidebar-selected-inventory-button img {
    width: 22px;
    height: 22px;
    margin-right: 12px; /* Add some space between the image and text */
}



#sidebar-help-center-button {
    position: absolute;
    width: 249px;
    height: 48px;
    left: 20px;
    top: calc(120px + 2 * (48px + 20px));
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.9;
    z-index: 1000;
    background-color: #3127A0;
    border: none; /* Removing border */
    cursor: pointer;
    display: flex; /* Add display flex to align children in a row */
    align-items: center; /* Align children vertically in the center */
    justify-content: flex-start; /* Align children to the left */
    padding-left: 15px; /* Adding space for the icon */
}

#sidebar-help-center-button img {
    width: 22px;
    height: 22px;
    margin-right: 12px; /* Add some space between the image and text */
}

#sidebar-theme-button {
    position: absolute;
    width: 249px;
    height: 48px;
    left: 20px;
    top: calc(120px + 4 * (48px + 20px));
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.9;
    z-index: 1000;
    background-color: #3127A0;
    border: none; /* Removing border */
    cursor: pointer;
    display: flex; /* Add display flex to align children in a row */
    align-items: center; /* Align children vertically in the center */
    justify-content: flex-start; /* Align children to the left */
    padding-left: 15px; /* Adding space for the icon */
}

#sidebar-theme-button img {
    width: 22px;
    height: 22px;
    margin-right: 12px; /* Add some space between the image and text */
}

#sidebar-profile-button {
    position: absolute;
    width: 249px;
    height: 48px;
    left: 20px;
    top: calc(120px + 48px + 20px);
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.9;
    z-index: 1000;
    background-color: #3127A0;
    border: none; /* Removing border */
    cursor: pointer;
    display: flex; /* Add display flex to align children in a row */
    align-items: center; /* Align children vertically in the center */
    justify-content: flex-start; /* Align children to the left */
    padding-left: 15px; /* Adding space for the icon */
}

#sidebar-profile-button img {
    width: 22px;
    height: 22px;
    margin-right: 12px; /* Add some space between the image and text */
}

#sidebar-setting-button {
    position: absolute;
    width: 249px;
    height: 48px;
    left: 20px;
    top: calc(120px + 3 * (48px + 20px));
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.9;
    z-index: 1000;
    background-color: #3127A0;
    border: none; /* Removing border */
    cursor: pointer;
    display: flex; /* Add display flex to align children in a row */
    align-items: center; /* Align children vertically in the center */
    justify-content: flex-start; /* Align children to the left */
    padding-left: 15px; /* Adding space for the icon */
}

#sidebar-setting-button img {
    width: 22px;
    height: 22px;
    margin-right: 12px;
}

#separation-line {
    position: absolute;
    width: 250px;
    height: 1px;
    left: 6%;
    top: calc(120px + 6 * (48px + 20px));
    background-color: #ffffff;
}

#sidebar-logout-button {
    position: absolute;
    width: 249px;
    height: 48px;
    left: 20px;
    top: calc(120px + 6 * (48px + 20px) + 40px);
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.9;
    z-index: 1000;
    background-color: #f47878;
    border: none; /* Removing border */
    border-radius: 30px;
    cursor: pointer;
    display: flex; /* Add display flex to align children in a row */
    align-items: center; /* Align children vertically in the center */
    justify-content: flex-start; /* Align children to the left */
    padding-left: 15px; /* Adding space for the icon */
}

#sidebar-logout-button img {
    width: 22px;
    height: 22px;
    margin-right: 12px; /* Add some space between the image and text */
}


#red-name-button {
    position: absolute;
    right: 28px;
    top: 30px;
    border-radius: 20px;
    background-color: #f47878;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    color: var(--color-gray-10, #fff);
    white-space: nowrap;
    padding: 12px 24px;
    font: 600 26px Inter, sans-serif;
    width: 150px;
}

#inventory-title {
    position: absolute;
    width: 173px;
    height: 22px;
    left: 76px;
    top: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 135.5%;
    /* identical to box height, or 22px */

    color: #3127A0;
}

#inventory-top-buttons {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    top: 15px; 
    right: 200px;
    z-index: 1000;
}

.inventory-info-button {
    background-color: white;
    color: black;
    border: none;
    font-size: 16px;
    padding-left: 55px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-left: 10px; 
}
