#wireframe {
    position: absolute;
    width: 698px;
    height: 508.12px;
    top: 16%;
    left: 3%;
}

@media screen and (min-width: 900px) and (max-width: 1250px) {
    #wireframe {
        box-sizing: border-box;
        width: 523px;
        height: 361px;
        margin-bottom: 200px;
    
        position: fixed;
        top: 30%;
        right: 4%;
        z-index: 998; 
    }
}

@media screen and (max-width: 900px) {
    #wireframe {
        display: none;
    }
}

#rememberme {
    width: 16px;
    height: 16px;
    margin-top: 3%;
    margin-bottom: 6%;
}

#back {
    background-color: white;
    color: black;
    border: none;
    font-size: 16px;
    padding-left: 55px;
    padding-top: 55px;
    padding-bottom: 30px;
    margin-left: 50%
}

#welcome {
    width: 380px;
    margin-left: 60%;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 43.36px;
}

#website-name {
    width: 380px;
    margin-left: 60%;
    color: #6358DC;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 43.36px;
}

#bottom-right-container {
    width: 427px;
    height: 557px;
    margin-top: 2%;
    margin-left: 60%;
    radius: 6px;
    font-family: 'Inter', sans-serif;
}

#account {
    width: 380px;
    color: black;
    font-size: 25px;
    font-weight: 700;
    line-height: 43.36px;
}

#description {
    color: darkgrey;
    margin-top: 2%;
    margin-bottom: 7%;
}

#username-and-password {
    color: gray;
}

#user-name, #password {
    width: 300px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

#login {
    color: #ffffff;
    background-color: #6358DC;
    width: 310px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10%;
} 